[Unit]
Description=app
After=cloud-final.service

[Service]
Type=simple
User=user
WorkingDirectory=/home/admin/webapp/
ExecStart=/usr/bin/node /home/admin/webapp/server.js
StandardOutput=append:/var/log/webapp.log
StandardError=append:/var/log/webapp-error.log

[Install]
WantedBy=cloud-init.target
