[Unit]
Description=app
After=network.target

[Service]
Environment=NODE_PORT=8080
Type=simple
User=admin
ExecStart=/usr/bin/node /home/admin/webapp/server.js

[Install]
WantedBy=multi-user.target